@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@{
    ViewData["Title"] = "Home Page of the Shoe Shop";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Shoe Shop!</h1>
    <p> This is the <strong>@hostingEnv.EnvironmentName</strong> environment</p>
    <p>
        This is the GitHub-HCL PoC. Welcome to Prashant.<br/> We are testing the manual deployment.
    </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="/images/github-hq.jpeg"
</div>
